body {
    background-color: #1b258b;
    margin: 0px;
    background-repeat: no-repeat;
}

.stage {
    width: 800px;
    height: 600px;
    margin: 100px auto;
    overflow: hidden;
}


/*-------------------------------------
| Positioning
-------------------------------------*/

.stage {
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
}


/*-------------------------------------
| Start Screen
-------------------------------------*/

.start {
    background-image: url('../img/start-screen.jpg');
    width: 800px;
    height: 600px;
    background-position: top right;
    position: absolute;
    top: 0px;
    right: 0px;
}


/*-------------------------------------
| Arrows
-------------------------------------*/

.arrow {
    width: 39px;
    height: 37px;
    position: absolute;
    top: 270px;
    z-index: 2;
    background-position: 0px 0px;
    /* transition: all .1s; */
}

.arrow:hover {
    background-position: 0px -37px;
}

.arrow.left {
    background-image: url('../img/arrow-left.png');
    left: 20px;
}

.arrow.right {
    background-image: url('../img/arrow-right.png');
    right: 20px;
}


/*-------------------------------------
| Bruce Lee
-------------------------------------*/

.bl.bruce-lee {
    background-image: url('../img/bruce-lee/bruce-lee.png');
    background-position: left top;
    width: 262px;
    height: 418px;
    position: absolute;
    top: -500px;
    left: 100px;
}

.bl.heavy-bag {
    background-image: url('../img/bruce-lee/heavy-bag.png');
    background-position: right top;
    width: 210px;
    height: 420px;
    position: absolute;
    top: 150px;
    right: 250px;
}

.bl.yin-yang {
    background-image: url('../img/bruce-lee/yin-yang.png');
    background position: left top;
    width: 210px;
    height: 208px;
    position: absolute;
    top: 0px;
    left: 280px;
}

.bl.dojo {
    background-image: url('../img/bruce-lee/dojo.jpg');
    background-position: bottom left;
    width: 800px;
    height: 600px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


/*-------------------------------------
| Michael Jackson
-------------------------------------*/

.mj.michael-jackson {
    background-image: url('../img/michael-jackson/michael-jackson.png');
    background-position: top right;
    width: 259px;
    height: 418px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.mj.mic-stand {
    background-image: url('../img/michael-jackson/mic-stand.png');
    background-position: bottom left;
    width: 149px;
    height: 209px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.mj.disco-ball {
    background-image: url('../img/michael-jackson/disco-ball.png');
    background-position: top left;
    width: 283px;
    height: 282px;
    position: absolute;
    top: -15px;
    left: 240px;
}

.mj.stage {
    background-image: url('../img/michael-jackson/stage.jpg');
    background-position: top left;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
}


/*-------------------------------------
| Muhammad Ali
-------------------------------------*/

.ma.muhammad-ali {
    background-image: url('../img/muhammad-ali/muhammad-ali.png');
    background-position: top right;
    width: 418px;
    height: 428px;
    position: absolute;
    top: 170px;
    right: 0px;
}

.ma.speed-bag {
    background-image: url('../img/muhammad-ali/speed-bag.png');
    background-position: bottom left;
    width: 209px;
    height: 209px;
    position: absolute;
    top: 0px;
    left: 150px;
}

.ma.fight-bell {
    background-image: url('../img/muhammad-ali/fight-bell.png');
    background-position: top left;
    width: 235px;
    height: 235px;
    position: absolute;
    top: 0px;
    left: 260px;
}

.ma.boxing-ring {
    background-image: url('../img/muhammad-ali/boxing-ring.png');
    background-position: bottom left;
    width: 800px;
    height: 600px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}